.provider-table-wrapper {
	display: grid;
	grid-template-columns: 10% 70% 10% 5%;
	grid-gap: 0;	
}
.provider-table-wrapper .provider-table-header, .provider-table-wrapper .provider-table-body {
	display: grid;
	grid-template-columns: 10% 40% 10% 5%;
	grid-gap: 0;	
}
/** general section **/
.form-table .get-token-message {
	margin-left: 1.5em;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
}
.form-table .local-time-tip {
	margin-left: 1.1em;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
}
.form-table #button_connection_check_wrapper .message,
.form-table #button_connection_test_check_wrapper .message {
	margin-left: 1.1em;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
}
/** providers section **/
.provider-message .wpapiship-notice {
	font-size: 1.4em;
	width: 50%;
	background: #fff;
	border: 1px solid #c3c4c7;
	margin: 5px 0 15px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	padding: 8px 0 10px 15px;
}
.provider-message .notice-error {
	border-left-color: #d63638;
	border-left-width: 4px;
	
}
#wp_apiship_providers_form .info {
	margin-bottom: 1em;	
}
#wp_apiship_providers_form .info.last {
	margin-bottom: 3em;	
}
.provider-cards {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );	
	grid-auto-rows: auto;
	grid-gap: 0.5rem;
}
.provider-cards.selected {
	margin-bottom:100px;
}
.provider-card {
	border: 2px solid #e7e7e7;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background-color: #fbfbfb;
	display: grid;
	max-width: 350px;
	padding: .5rem;
	padding-bottom: 2rem;
}
.provider-card:hover {
	box-shadow: -2px 2px 16px 0 rgba(0,0,0,0.8);
}
.provider-card .card--label .provider-selected {
	font-size: 40px;
	color: #03925e;
	float: right;
}
.provider-card .card--label .connect-count {
	border: 2px solid #33BDFF ;
    float: left;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
    background-color: #33BDFF;
    margin: -15px 0 0 0;
	cursor: pointer;
	font-weight:600;
}
.provider-card .card--label .tariffs-count {
	border: 2px solid #11ffBD;
    float: left;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
    background-color: #11ffBD;
    margin: -15px 0 0 15px;
	cursor: pointer;
	font-weight:600;	
}

/* height 115px */
.provider-card .card--logo {
	margin: auto;
}
/* max-height 115px */
.provider-card .logo {	
	height: 115px;
	width: 100px;
}

.provider-card .card--logo .no-image {
	height: 85px;
	width: 115px;
}
.provider-card .card--logo .image-placeholder {
	background-image: url(images/wpspin_light-2x.gif);
	background-repeat: no-repeat;
	background-position-x: center;
	height: 32px;
	width: 32px;
}
.provider-card .card--name, .provider-card .card--key {
	margin: auto;
	font-size: 1.2em;
	font-weight:500;
	word-break: break-all;
}
.provider-card .card--description {
	margin: auto;
	text-align: center;
}
.provider-card .card--point-in-id {
	margin-top: 20px;
}
.provider-card .card--point-in-id .caption {
	font-size: 1.2em;
	font-weight: 500;
}
.provider-card .card--point-in-id .address {
	font-size: 1.2em;
	font-weight: 600;
	text-align: center;
	margin-top: 1em;
}
.provider-card .card--point-in-id.store {
	margin-top: 20px;
}
.provider-card select.point-select {
	width: 100% !important;
}
.provider-card .point-select-option {
	cursor: pointer;
}
/** debug section */
#debug-table {
	width: 70%;
	margin-left: -40px;
}
#debug-table td {
	padding: 0 0 5px;
}
#debug-table .option_id {
	width:10%;
}
#debug-table .option_autoload {
	width:10%;
}
#debug-table .data:hover {
	background-color: #dcdcde;
	color: #50575e;
}
/** post.php page with shop_order post type*/
.wpapiship-integrator-order-id {
	margin-left: 10px;
	font-weight: 400;
	font-size: 13px;
}
.wpapiship-integrator-line-items {
	display: grid;
	/*grid-template-columns: repeat( auto-fit, minmax(80px, 80px) );*/
	grid-template-columns: 15% 20% 25% 40%;	
	grid-auto-rows: auto;
	grid-gap: 0.5rem;	
}
/* .integrator-line--item {} */
.wpapiship-integrator-line-items .dashicons {
	font-size: 24px;
	cursor: pointer;
	margin-right: 5px;
}
.wpapiship-integrator-line-items .integrator-line--item {
	font-size: 16px;
}
.wpapiship-integrator-line-items .integrator-order-id:before {
	content: "#";
}
.wpapiship-order-action-wrapper {
	margin-top: 1em;
}
.wpapiship-order-action-wrapper .post-orders {
	margin-bottom: 1em;
}
.wpapiship-order-action-wrapper .view-orders-status {
	font-size: 1.2em;
	margin-right: 1.4em;
}
.wpapiship-order-action-wrapper .extra-buttons {
	margin: 1em 0 0 0;
}
#order_shipping_line_items .provider-card .logo {
	height: 100px;
    width: 115px;	
}
.wpapiship-order-action-wrapper .wpapiship-log-viewer {
	margin: 1em 0 1em 0;
	background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    padding: 5px 5px;
	text-align: left;
}
.wpapiship-order-action-wrapper .wpapiship-log-viewer pre {
	font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}
/** metabox on post.php page*/
/** hide origin `order_shipping_line_items` */
.wp-admin #order_shipping_line_items {
	display: none;
}
#wpapiship-order-metabox {}
#wpapiship-order-metabox .order-hidden {
	height: 0;
	overflow: hidden;
}
#wpapiship-order-metabox .order-shipping-message-wrapper {
	font-size: 1.5em;
	text-align: center;
	margin: 20px auto 10px;
}
#wpapiship-order-metabox .order-shipping-wrapper {
	display: grid;
	grid-template-columns: 30% 70%;	
	grid-auto-rows: auto;
	grid-gap: 2rem;	
}
#wpapiship-order-metabox .left-sidebar .card {
	width: 100%;
	background-color: #fbfbfb;
	max-width: none;
}
#wpapiship-order-metabox .display-meta {
	display: grid;
	grid-template-columns: 20% 80%;	
	grid-auto-rows: auto;
	grid-gap: 0.5rem;	
}
#wpapiship-order-metabox .display-meta .meta-key {
	font-weight: 600;
}
#wpapiship-order-metabox .woocommerce-Price-amount {
	font-weight: 700;
}
#wpapiship-order-metabox .integrator-order-id {
	margin-right: 1em;
	font-weight: 500;
	vertical-align: middle;	
	vertical-align: -moz-middle-with-baseline;
	color: #2c3338;
}
#wpapiship-order-metabox .integrator-order-warning {
	color: #ffcd01;
	vertical-align: middle;	
	vertical-align: -moz-middle-with-baseline;
	margin-right: 1em;
}
#wpapiship-order-metabox .extra-buttons {
	text-align: right !important;
}
#wpapiship-order-metabox .meta-title {
	font-weight: 700;
	margin-top: 0.5em;
}
#wpapiship-order-metabox .meta-divider {
	width: 80%;
	margin-bottom: 0;
}
#wpapiship-order-metabox .meta-caption {
	margin-top: 5px;
}
#wpapiship-order-metabox .delete-orders-confirmation {
	margin-left: 1em;
	vertical-align: middle;	
	vertical-align: -moz-middle-with-baseline;	
}
#wpapiship-order-metabox .provider-card:hover {
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
	/*cursor: pointer;*/
}
#wpapiship-order-metabox .provider-card .logo {
	height: 115px;
	width: 150px;
	cursor: pointer;
}
#wpapiship-order-metabox .integrator-order-label-card {
	font-size: 1.2em;
	font-weight: 500;
	display: grid;
}
#wpapiship-order-metabox .integrator-order-label-card .card--label {
	margin-bottom: 1.5em;
}
#wpapiship-order-metabox .integrator-order-label-card .card-caption {
	border: 2px solid #33BDFF ;
    float: left;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
    background-color: #33BDFF;
    margin: -20px 0 0 -25px;
	cursor: pointer;
	font-weight:600;
}
#wpapiship-order-metabox .label-exists img {
	display: block;
	margin: 0 auto;
	width: 150px;
	height: 150px;
}
#wpapiship-order-metabox .label-exists button {
	display: block;
	margin: 2em auto 1em;
}
#wpapiship-order-metabox .wpapiship-transmitting-field:disabled {
	color: #2c3338;
}
#wpapiship-order-metabox .meta-value-point-in-address {
	width: 90%;
}
#wpapiship-order-metabox .meta-value-point-out-address {
	width: 90%;
}
#wpapiship-order-metabox .point-select {
	width: 65%;
}
#wpapiship-order-metabox .edit-data {
	text-decoration: none;	
}
#wpapiship-order-metabox .edit-data:after {
	font-family: Dashicons;
	content: "\f464";
	/*position: absolute;*/
	top: 0;
	left: 0;
	/*text-align: center;*/
	vertical-align: middle;
	line-height: 14px;
	/*font-size: 14px;*/
	font-weight: 400;
	margin-left: 1em;
	font-size: 18px;
}
#wpapiship-order-metabox .delete-data {
	text-decoration: none;	
}
#wpapiship-order-metabox .delete-data:after {
	font-family: Dashicons;
	content: "\f182";
	top: 0;
	left: 0;
	vertical-align: middle;
	line-height: 14px;
	font-weight: 400;
	margin-left: .5em;
	font-size: 18px;
}
#wpapiship-order-metabox .wpapiship-ymap-row {
	grid-column: 1 / -1;
}
#wpapiship-order-metabox #wpapiship-ymap {
	width: 97%;
	height:700px;
	padding:0;
	margin:0 10px 0 0;
}
#wpapiship-order-metabox .not-ymap {
	height:50px !important;
	text-align: center;
	font-size: 1.5em;
}

.wpapiship-pickup-label {
	display: block;
	margin: 5px 0;
}

.wp-apiship-mapping-container {
	display: block;
}

.wp-apiship-mapping-row {
	display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding: 10px 30px 10px 0;
}

.wp-apiship-mapping-inner-status-col {
    width: 35%;
}

/* .wp-apiship-mapping-wc-status-col {} */

/* .wp-apiship-mapping-notice-col {} */

.wp-apiship-mapping-title {
	line-height: 1.4;
}

.wp-apiship-mapping-checkbox-label {
	line-height: 1.4;
}

.wp-apiship-mapping-checkbox {
	margin-right: 10px;
}

.wp-apiship-mapping-select {
	max-width: 280px !important;
}

.wp-apiship-mapping-desc {
	margin: 20px 0 15px 0;
}

.wp-apiship-mapping-desc p {
	line-height: 1.4;
	margin-bottom: 10px !important;
}

.wp-apiship-mapping-config-disabled {
	opacity: 0.8;
	pointer-events: none;
}

.wpapiship-action-button-wrapper {
	position: relative;
}

.wpapiship-confirmation-bar {
	position: absolute;
    top: 40px;
    left: 0;
    width: max-content;
}

.wpapiship-buttons {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
	position: relative;
}